---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.svelte";
---

<Layout>
  <header class="flex justify-center items-center">
    <a href="" class="flex items-center py-2">
      <img src="/z.svg" alt="Z-Links Logo" class="size-16" />
      <h1 class="text-3xl text-[lavender] translate-x-[-2rem] translate-y-[-0.3rem] tracking-wide">Links</h1>
    </a>
  </header>





  <main>
	<div class="max-w-5xl px-8 py-2 mx-auto">
		<h1 class="text-[cyan] text-center text-sm p-3 border-2 border-blue-500 bg-gray-900 mb-4 rounded-lg">This is a small help for UIET Students by us - Saksham Nigam, and Misbahul Hasan</h1>
		<Main client:load></Main>
	</div>
  </main>


</Layout>
