---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.svelte";
import LandingPage from "../components/LandingPage.svelte";
import { getSupabase } from "../lib/supabaseSSR";

export const prerender = false; 

const supabase = getSupabase(Astro);

const {
  data: { user },
} = await supabase.auth.getUser();

const { data: zlinks } = await supabase
  .from("z_link")
  .select("*")
  .eq("user", user?.id);

console.log("from server", user);
---

<Layout>
  {
    user ? (
      <main>
        <div class="max-w-5xl px-8 py-2 mx-auto">
          <Main client:load availableZLinks={zlinks} />
        </div>
      </main>
    ) : (
      <LandingPage client:load />
    )
  }
</Layout>
